<!DOCTYPE html>
<html>
  <head>
    <title>HopeIT - Helping have never been easier!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Wyślij wiadomość do wszystkich</h1>
    <form action='/admin/sendall' method="post">
        Temat: <input type="text" name="topic"><br>
        Tekst: <textarea name="body" cols="20" rows="20"></textarea><br>
        Załącznik:
        <input type="submit" value="Wyślij">
    </form>
  </body>
</html>
