<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>HopeIT - Helping have never been easier!</title>
</head>
<body>
    <h1>Wyślij wiadmość:</h1>
<form action="/admin/send_one_message" method="post">
    <b>Uzytkownik: </b>
  <select name="username">
      <option value="<%= select %>"><%= select %></option>
  </select><br> <br>
  <b>Temat: </b> <input type="text" name="topic"></input><br><br>
  <textarea name="body" style="width:400px; height:200px">
  </textarea><br>
  <input type="submit" value="Wyślij!">
</form>
</body>
</html>