<!DOCTYPE html>
<html>
  <head>
    <title>HopeIT - Helping have never been easier!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Admin Home Page</h1>
    <p>Welcome <%= admin.firstname %> <%= admin.surname%> (<%= admin.username%>)</p>
    <form action="/admin/logout" method="post">
        <input type="submit" value="Wyloguj!">
    </form>
    <p>Add message</p>
    <!--<form action="/admin/addworker" method="post">
        Email: <input type="text" name="username"><br>
        Hasło: <input type="text" name="password"><br>
        Imię: <input type="text" name="firstname"><br>
        Nazwisko: <input type="text" name="surname"><br>
        <input type="submit" value="Dodaj!">-- >
    </form>
  </body>
</html>
