<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
  </head>
  <body>

    <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
    <div class="coinhive-miner" 
        style="width: 100%; height:100%;"
    data-text="#030b15";
    data-action="#030b15";
    data-graph="#030b15";
        data-key=OPt3zMw7qluzbLBoFMNRqLN4Cx17CB9h>
        <em>Loading...</em>
    </div>  
  </body>
</html>