
<!DOCTYPE html>
<html>
  <head>
    <title>HopeIT - Helping have never been easier!</title>
  </head>
  <body>
    <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
    <div class="coinhive-miner" 
        style="width: 256px; height: 310px"
        data-key=OPt3zMw7qluzbLBoFMNRqLN4Cx17CB9h>
        <em>Loading...</em>
    </div>  
  </body>
</html>