<!DOCTYPE html>
<html>
  <head>
    <title>HopeIT - Helping have never been easier!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Wiadomośći wysłane kuhhhwa</h1>
    <a href='/worker'>Powrót</a>
  </body>
</html>
