<!DOCTYPE html>
<html>
  <head>
    <title>Number of hashes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Coin</h1>
    <p>Welcome to Coinhive
    We all collected 
    </p>
  </body>
</html>
