<!DOCTYPE html>
<html>
  <head>
    <title>paypal test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
        <%= for(key in payment) { %>
            <li><%= key %></li>
        <%= } %>
    </ul>
  </body>
</html>
